**LIST_REMOVE_APPEND**

In [4]:
list_given = ['SAS', 'R', 'PYTHON', 'SPSS']
list_given.remove('SPSS')
list_given.append('SPARK')
print(list_given)

['SAS', 'R', 'PYTHON', 'SPARK']

**STRING_TO_LIST_CPNVERSION**

In [3]:
list_given = 'I love Data Science & Python'
list_given = list_given.split('&')    
print(list_given)

['I love Data Science ', ' Python']

**LIST_TO_STRING_CPNVERSION**

In [5]:
list_given =  ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
list_given = ' & '.join(list_given)
print(list_given)

Pythons syntax is easy to learn & Pythons syntax is very clear

**NESTED_LIST**

In [6]:
list_given = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(list_given)
print(list_given[2][0])

[['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]
Python

**IT'S TIME TO DISCO**

In [7]:
t = ("disco", 12, 4.5)
print(t[0][2])

s

**STRING_Palindrome **

In [10]:
#Palindrome 
inp_str = input('Input string is :: ')
if inp_str.lower() == inp_str[::-1].lower():
    print(1)
else:
    print(0)

Input string is :: Madam
1

**Reverse word**

In [11]:
inp_str = input('Input string-\n')
words = inp_str.split(' ') 
out_reverse = ' '.join(reversed(words))
print(out_reverse)

Input string-
India is my country
country my is India

**STRING_FORMATTING**

In [13]:
def str_formatting(pharse):
    print(f'Input - {pharse}')
    output_string = pharse.split(' ')
    output_string = '_'.join(output_string)
    print(f'Output - {output_string.lower()}')
    print(' ')

str_formatting('caloRie ConsuMed')
str_formatting('data science')
str_formatting('datascience')

Input - caloRie ConsuMed
Output - calorie_consumed

Input - data science
Output - data_science

Input - datascience
Output - datascience

1. How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).
a. S[2:5]
b. S[2:6]
c. S[3:7]
d. S[-11:-7]
e. S[-11:-8]
     
**Ans - b and d**

2. What will the output of 3 * 3 ** 3 be?
a. 9
b. 27
c. 81
d. 729

Ans - c
3. What will the output be of ((500//7) % 5) ** 3?
a. 1
b. 2.91
c. 71.42
d. 0
e. 8

Ans - a
81
4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?
a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

Ans - d
5. What will the output of the following program be?
a. Vikas
b. Mahima
c. y
d. A
Ans - Question is not complete.
l = [32, 34, 12, 27, 33]
l.append((14, 19))
print(l)
print(len(l))
[32, 34, 12, 27, 33, (14, 19)]
6
6. What will the output of the following code be?

a. 5
b. 6
c. 7
d. The code will throw an error

Ans - b
7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

Ans - d
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
    print(val)
1
2
3
Whatwilltheoutputbeofthefollowingcode?
  D = {l:['Raj', 22), 2:('Simran',21], 3:['Rahul', 40]}
for val in D:
print(val)
a. 1 2 3
b. [‘Raj’, 22] [‘Simran’, 21]
[‘Rahul’, 40]
c. 1 [‘Raj’, 22]
2 [‘Simran’, 21]
3 [‘Rahul’, 40]
d. ‘Raj’
‘Simran’ ‘Rahul’
                         
Ans - a    
9. What will the ‘comprehension equivalent’ be for the following snippet of code?
a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

Ans - b
What will be the output of this code?
a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b. [9, 8, 7, 6, 5, 4, 3, 2]
c. [9, 8, 7, 6, 5, 4, 3, 2, 1]
d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

Ans - d
print(list(range(10, 1, -1)))

a -[10, 9, 8, 7, 6, 5, 4, 3, 2]